
#sizeH, #sizeW{
  background-color: #f0f0ff;
}
body{
  text-align: center;
  /* background-image: url(pineapple.png); */
}
#color-picker{
  margin-bottom:10%;
}

#myTable{
  margin-left: 45%;
  background-image: none;

}

.header{
  height: 200px;
  width: 100%;
  background-image: url(header.png);
  font-size: 50px;
  text-align:center;
  color: orange;
  margin-top:0;
  }
  h1{
    padding-top: 50px;
    margin: 0;
  }
  form{
    margin-bottom: 0px;
    padding-bottom: 0;
  }
