
#sizeHeight, #sizeWidth{
  background-color: aqua;
}
body{
  background-image:url("pa.png");
  text-align: center;
}
#color-picker{
  margin-bottom:10%;
}

#canvas{
  background-color: aqua;
}

table,
tr,
td {
    border: 1px solid gray;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
